body,
html {
  height: 100%;
  width: 100%;
  background: rgba(238, 239, 240, 0.55);
  overflow: hidden;
  margin: 0;
}


$primary : #2f80ed;

.widget-side-switcher {
  position: fixed;
  top: 400px;
  display: flex;
  > div {
    background: white;
    padding: 16px;
    border: 8px;
    border-radius: 8px;
    color:$primary;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      background-color: #cce5ff;
      transition: all .25s ease;
    }
  }
  .widget-side-switcher-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid $primary;
  }
  .widget-side-switcher-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.widget-wrapper {
  position: absolute;
    width: 370px;
    height: 100%;
    right: 0;
}

.widget-bubbles {
  display: flex;
  align-items: flex-end;
  height: 100%;
  max-width: 75%;
  position: relative;
  margin-bottom: 100px;
  background-color: #E5E5E5;
  > div {
    margin-right: 20px;
    position: relative;
    bottom: 100px;
    left: 35%;
  }
}


.widget-fab {
  background-color: #fff;
  width: 64px;
  height: 64px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  outline: none;
  border: none;
  user-select: none;
  -webkit-appearance: none;
  transition: all 0.2s;
  transform: scale(0);
  z-index: 9999;
  opacity: 0;

  &.show-animated {
    transform: scale(1);
    opacity: 1;
  }

  & > svg {
    left: 50%;
    top: 50%;
    margin-left: -15.5px;
    margin-top: -15.5px;
    position: absolute;
    z-index: 2;
    transition: all 0.2s;

    path {
      transition: all 0.2s;
    }

    &:last-child {
      margin-left: -9px;
      margin-top: -9px;
      transform: rotate(-90deg) scale(0.8);
      opacity: 0;
      transition: all 0.4s;
    }

    .widget-expanded &:first-child {
      transform: rotate(-90deg) scale(0);
    }
    .widget-expanded &:last-child {
      transform: rotate(0) scale(1);
      opacity: 1;
    }
  }

  &:hover {
    animation: none;
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, 0.15);
  }
  &:focus {
    outline: none;
  }
}

.widget-right {
  .widget-bubble {
    right: 32px;
  }
  .chat_in {
    animation-duration: 300ms;
    animation-name: chat_in_animation_right;
    transition-timing-function: ease-in;
  }
  
  .chat_out {
    animation-duration: 300ms;
    animation-name: chat_out_animation_right;
    transition-timing-function: ease-in;
    min-height: 0;
    max-height: 0;
    opacity: 0;
  }
}

.widget-left {
  .widget-bubble {
    right: auto;
  }
  .chat_in {
    animation-duration: 300ms;
    animation-name: chat_in_animation_left;
    transition-timing-function: ease-in;
  }
  
  .chat_out {
    animation-duration: 300ms;
    animation-name: chat_out_animation_left;
    transition-timing-function: ease-in;
    min-height: 0;
    max-height: 0;
    opacity: 0;
  }
}

.widget-iframe {
  padding: 0px;
  position: fixed;
  z-index: 2;
  border-radius: 16px;
  bottom: 85px;
  top: auto;
  width: 365px;
  right: 20px;
  height: 410px;
  visibility: visible;
  min-height: 360px;
  max-height: calc(100% - 80px);
}

.widget {
  bottom: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  left: 16px;
  position: absolute;

  .widget-welcome {
    animation-duration: 200ms;
    animation-name: chat_out_animation;
    transition-timing-function: ease-in;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    width: 340px;
  }
  .widget-header {
    display: block;
    max-width: 340px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 16px 18px;
    background-color: $primary;
    h1 {
      font-size: 24px;
      color: white;
      margin: 0;
      > span {
        float: right;
      }
    }
  }
  .widget-body {
    display: flex;
    flex-direction: column;
    height: 220px;
    max-height: 40vh;
    overflow: auto;
    padding: 16px;
    box-sizing: border-box;
    background: rgba(47, 128, 237, 0.12);
    .widget-chat-message {
      font-size: 15px;
      line-height: 1.5;
      margin-top: auto;
      margin-bottom: 33px;
      .widget-chat-message-content {
        float: left;
        position: relative;

        &__message {
          background-color: white;
          color: black;
          border-radius: 8px;
          border-bottom-left-radius: 0;
          padding: 12px 18px;
          word-break: break-word;
          display: inline-block;
          word-wrap: break-word;
          white-space: pre-line;
        }
        .message-taping {
          padding: 5px;
        }
        &__message-time {
          position: absolute;
          color: #818791;
          font-size: 10px;
          margin-top: 4px;
          left: 0;
        }
      }
    }
  }
  .widget-footer {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 16px;
    color: rgba(0, 0, 0, 0.35);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    button {
      padding: 8px;
      background-color: $primary;
      color: white;
      outline: none;
      border-radius: 8px;
      border: none;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
.widget-bubble {
  padding: 0px;
  position: fixed;
  // z-index: 2147483644;
  bottom: 24px;
  top: auto;
  height: 60px;
  width: 60px;
  border-radius: 29px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px;
  background: none;
  display: block;
  cursor: pointer;
  svg {
    cursor: pointer;
  }
}



@keyframes chat_in_animation_right {
  0% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: bottom right;
  }
  50% {
    transform: scale(1.03, 1.03);
    transform-origin: bottom right;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: bottom right;
  }
}

@keyframes chat_out_animation_right {
  0% {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: bottom right;
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: bottom right;
  }
}


@keyframes chat_in_animation_left {
  0% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: bottom left;
  }
  50% {
    transform: scale(1.03, 1.03);
    transform-origin: bottom left;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: bottom left;
  }
}

@keyframes chat_out_animation_left {
  0% {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: bottom left;
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: bottom left;
  }
}



// Animation bubble

.widget-exp {
  width: 64px;
  height: 64px;
  z-index: 2;
  .widget-fab {
    position: relative;
  }
}

.widget-exp-pulse {
  width: 64px;
  height: 64px;
  z-index: 2;
  .widget-fab-pulse {
    position: relative;
  }
}


.pulsation {
  animation: pulse-animation 3s infinite;
  background-color: $primary;
  border-radius: 50px;
  height: 80px;
  left: -8px;
  position: absolute;
  bottom: -8px;
  transform: scale(0);
  width: 80px;
  z-index: 1;
}
.pulsation:nth-of-type(2n) {
  animation-delay: 0.8s;
}



@keyframes pulse-animation {
  0% {
    -webkit-transform: scale(0);
    opacity: 1;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 0;
    transform: scale(1);
  }
}
